@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

ActionBar {
  background-color: #4f46e5;
  color: white;
}

.list-group {
  margin: 10;
}

.list-group-item {
  padding: 15;
  margin-bottom: 10;
  background-color: white;
  border-radius: 8;
}